@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  /* Light Mode (Soft Paper) */
  --background: #fbfbfb;
  --foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #2c2c2e;
  --accent-foreground: #fafafa;
  --border: #e4e4e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode (Deep Void) */
    --background: #09090b; /* Zinc 950 */
    --foreground: #e4e4e7; /* Zinc 200 */
    --muted: #27272a; /* Zinc 800 */
    --muted-foreground: #a1a1aa; /* Zinc 400 */
    --accent: #fafafa; /* White accent */
    --accent-foreground: #18181b;
    --border: #27272a;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);

  --font-sans: var(--font-outfit), sans-serif;
  --font-serif: var(--font-libre), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: 700;
}
